<script src="../../assets/js/angular.min.js"></script>
<script src="ScreensCtrl.js"></script>
<div>
<header>
    	<div class="hd-icon">
        	<img src="../../assets/img/screens-hd-icon.png" alt="screens" />
        </div>
        <div class="title">
        	<h1>Select Screens</h1>
                <canvas></canvas>
        </div>
        <div class="close">
            <img src="../../assets/img/close.png" alt="close" (click)="closeWindow()"/>
        </div>
    </header>
    <section class="main">
    	<div class="wrapper">
            <div class="screen-title">
                    <h2>Quick Capture would like to select the content of your screens. Chose what you like to share !!!</h2>
            </div>

            <div class="screen-area" id="screenArea">
                <div id="screens">

                </div>
                <div class="buttons">
                    <div class="btn-black">Cancel</div>
                    <div class="btn-orange" (click)="openSelectedScreen()">Done!</div>
                </div>
            </div>
        </div>

    </section>
</div>
