<nav class="menu">

  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open" id="hamburger">
               <img src="../../assets/img/logo.png" >
        </label>
  <label class="menu-item item-1" for="menu-open" id="openCaptureScreens">
                  <img src="../../assets/img/screens.png" (click)="Screens()">
            </label>
  <label class="menu-item item-2" for="menu-open" id="openLocalImage">
                 <img src="../../assets/img/browse-img.png">
            </label>
  <label class="menu-item item-3" for="menu-open" id="openLocalPDF">
                <img src="../../assets/img/pdf.png">
            </label>
  <label class="menu-item item-4" for="menu-open" id="openHelp">
                 <img src="../../assets/img/help.png">
            </label>
  <label class="menu-item item-5" for="menu-open" id="feedback">
                 <img src="../../assets/img/feedback.png">
            </label>
  <label class="menu-item item-6" for="menu-open" id="profile">
                  <img src="../../assets/img/profile1.png" (click)="Profile()">
            </label>
</nav>
